
{% if "jquery" in libs.split(",") %}
<script type="text/javascript" src="/static/jquery.3.5.1.js"></script>
{% endif %}

{% if "moment" in libs.split(",") %}
<script type="text/javascript" src="/static/moment-with-locales.min.js"></script>
{% endif %}

{% if "bootstrap" in libs.split(",") %}
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script type="text/javascript" src="/static/bootstrap.bundle.js"></script>
{% endif %}

{% if "fontawesome" in libs.split(",") %}
<script type="text/javascript" src="/static/fontawesome-5.14.js"></script>
<link rel="stylesheet" href="/static/fontawesome-5.14.css"/>
{% endif %}

{% if "jquery-ui" in libs.split(",") %}
<link rel="stylesheet" href="/static/jquery-ui-1.13.0/jquery-ui.min.css"/>
<link rel="stylesheet" href="/static/jquery-ui-1.13.0/jquery-ui.structure.min.css"/>
<link rel="stylesheet" href="/static/jquery-ui-1.13.0/jquery-ui.theme.min.css"/>
<script type="text/javascript" src="/static/jquery-ui-1.13.0/jquery-ui.js"></script>
{% endif %}

{% if "socket" in libs.split(",") %}
<script type="text/javascript" src="/static/socket.io.4.3.2.js"></script>
{% endif %}

{% if "sortable" in libs.split(",") %}
<script type="text/javascript" src="/static/sortable.1.10.2.js"></script>
{% endif %}

{% if "underscore" in libs.split(",") %}
<script type="text/javascript" src="/static/underscore-1.10.2.min.min.js"></script>
{% endif %}

{% if "dragdrop" in libs.split(",") %}
<script type="text/javascript" src="/static/DragDropTouch.js"></script>
{% endif %}

{% if "dropzone" in libs.split(",") %}
  <script type="text/javascript" src="/static/dropzone.min.js"></script>
  <link rel="stylesheet" href="/static/dropzone.min.css"/>
{% endif %}

<script type="text/javascript" src="/static/app.js?tb={{ range(0,100000) | random }}"></script>
<link rel="stylesheet" href="/static/app.css?tb={{ range(0,100000) | random }}"/>
