{% extends "layout.html" %}

{% block head %}
    <title>BNBC INDEX PAGE</title>
  {% with libs="bootstrap,jquery,jquery-ui,underscore" %}
    {% include "_jslibs.html" %}
  {% endwith %}
  {% include "_css.html" %}
{% endblock %}

{% block inline_css %}
  .logo {
    width: 300px;
  }
{% endblock %}

{% block js_globals %}
{% endblock %}

{% block js_functions %}
{% endblock %}

{% block js_onready %}
{% endblock %}

{% block underscore_templates %}
  <div id="_tmpl_XXXXXX">
  <!--
  -->
  </div>
{% endblock %}

{% block body %}
  <div class="row mt-4">
    <div class="offset-1 col-10 offset-sm-2 col-sm-8">
      {{ read_md_file('index') | markdown }}
    </div>
  </div>

{% endblock %}
