{% extends "layout.html" %}

{% block head %}
    <title>BNBC UNKNOWN SELLER</title>
  {% with libs="bootstrap,jquery,jquery-ui,underscore" %}
    {% include "_jslibs.html" %}
  {% endwith %}
  {% include "_css.html" %}
{% endblock %}

{% block inline_css %}
{% endblock %}

{% block js_globals %}
{% endblock %}

{% block js_functions %}
{% endblock %}

{% block js_onready %}
{% endblock %}

{% block underscore_templates %}
  <div id="_tmpl_XXXXXX">
  <!--
  -->
  </div>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      Sorry but the Elves haven't yet implemented this functoinality. We have been notified of it's usage.
    </div>
  </div>
{% endblock %}
